.ad__anchor {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: transparent;
  z-index: 9;

  &.hide {
    display: none;
  }
}

.ad__anchor iframe {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.ad__below {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: transparent;
  margin-bottom: 20px;

  &.hide {
    display: none;
  }
}
