.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card__image {
  width: 100%;
  padding-top: 75%;
  border-radius: 8px 8px 0 0;
  background: url(''), lightgray 50% / cover no-repeat;
}

.card__info {
  padding: 10px 14px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cp {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 0 10px 0;
}

.cp__logo {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: url('../assets/img_cplogo.svg'), transparent 100% / cover no-repeat;
}

.cp__name {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

.title {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0;
}

.more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  padding: 8px 14px;
}

.more__left,
.more__right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.more__right {
  justify-content: flex-end;
}

.view {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon__view,
.btn__like {
  width: 16px;
  height: 16px;
  background: url('../assets/img_cplogo.svg'), transparent 100% / cover no-repeat;
}
