.card__info {
  display: flex;
  align-self: stretch;
  padding: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  padding: 2px 14px 2px 2px;
}

.card__image {
  width: 36%;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  background: url(''), lightgray 50% / cover no-repeat;
}
