.list {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  list-style: none;
  text-decoration: none;
  padding: 8px 15px;
  margin: 0;
  overflow-x: auto;
}

.list::-webkit-scrollbar {
  display: none;
}
