.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid var(--border-color);
  padding: 15px 0 12px;
  margin: 0 15px;
}

.header .logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header .logo h1,
.header .logo h2 {
  color: var(--color-black);
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
}

.header .logo h1 {
  cursor: pointer;
}

.header .logo h2 {
  color: var(--color-dark-gray);
}

.header .menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .menu .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}

.nav {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(25px);
  z-index: 10;
}

.nav__ad {
  padding: 0 15px 4px 15px;
}

.ad__item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
}

.ad__item p {
  font-size: 18px;
  font-weight: 800;
}

.content__wrap {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, var(--color-white) 0%, var(--background-color) 100%);
  padding: 36px 15px;
}

.content__wrap.top {
  padding: 28px 15px 36px 15px;
}

.content__wrap.editors {
  padding: 0;
}

.footer {
  background-color: var(--background-color);
}
