.wrap {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 540px;
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: var(--color-white);
  padding: 0 15px;
  margin: auto;
  overflow-y: auto;
  z-index: 10;
}

.wrap::-webkit-scrollbar {
  display: none;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--color-white);
  padding: 15px 0;
  z-index: 1;
}

.header h1 {
  font-size: 24px;
  font-weight: 900;
}

.header button {
  display: flex;
  padding: 4px;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 14px;
  padding: 20px 0;
}

.menu ul {
  width: 100%;
}

.menu__item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px;
  cursor: pointer;
}

.menu__item svg {
  margin: 3px;
}

.menu__item p {
  font-size: 16px;
  font-weight: 600;
}

.menu__drop button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 7px;
  cursor: pointer;
  z-index: 10;
}

.menu__drop svg {
  margin: 5px;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;

  &.active {
    transform: rotate(-90deg);
  }
}

.menu__drop p {
  font-size: 20px;
  font-weight: 700;
}

.drop__list {
  display: none;
  margin-top: 8px;
  opacity: 0;
  transition: all 0.4s ease-in-out;

  &.active {
    display: block;
    opacity: 1;
  }
}

.drop__item {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  padding: 7px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-light-gray);
  }
}

.drop__item figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 4px;
  border: 1px solid var(--color-white);
  background-color: var(--color-black);
  padding: 4px;
}

.drop__item.channel figure {
  border: 1px solid var(--color-white);
  background-color: var(--color-white);
}

.drop__item img {
  width: 100%;
  height: 100%;
  filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(166deg) brightness(102%) contrast(102%);
}

.drop__item.channel img {
  filter: none;
}

.drop__item p {
  font-size: 14px;
  font-weight: 600;
}

.footer {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  gap: 8px;
  padding: 50px 0 20px 0;
}

.footer p {
  font-size: 12px;
  font-weight: 300;
  /* text-align: center; */
  opacity: 0.5;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  font-weight: 300;
  /* text-align: center; */
  opacity: 0.5;
}

.footer__menu span {
  cursor: pointer;
}
