.modal__wrap {
  border: 3px solid red;
  width: 40%;
  position: absolute;
  top: 80%;
  right: 5%;
  background-color: #ffffff;
  color: #000;
  backdrop-filter: blur(1em);
  border-radius: 15px;
}

.menu__list {
  border-bottom: 1px solid #bcbbb9;
  padding: 8px 0;
}

.menu__list:last-child {
  border-bottom: 0;
}
