.modal__wrap {
  position: fixed;
  left: calc(50% + 200px);
  top: 50px;
  transform: translateX(-50%);
  min-width: 100px;
  width: auto;
  text-align: center;
  color: var(--color-black);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.85);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 10;
  box-shadow: -1px 6px 5px 0px #0000001f;
}

.modal__wrap ul li {
  border-bottom: 1px solid #bcbbb9;
  padding: 8px 0;
}

.modal__wrap ul li:last-child {
  border-bottom: 0;
}

@media screen and (max-width: 540px) {
  .modal__wrap {
    left: calc(50% + 135px);
  }
}
