.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(25px);
  padding: 15px 17px 8px 17px;
  z-index: 10;
}

.header h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  padding: 0 8px;
}

.header__btn {
  display: flex;
  gap: 16px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-color: var(--color-light-gray);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.icon:active,
.icon.active {
  opacity: 0.5;
}

.content__wrap {
  padding: 20px 24px 84px 24px;
}

.title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 14px;
}

.editor {
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  line-height: 0.8;
  margin-bottom: 8px;
}

.date {
  color: rgba(0, 0, 0, 0.68);
  font-size: 14px;
  line-height: 0.8;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 20px 0;
}

.content img {
  display: flex;
  width: 100%;
  object-fit: contain;
}

.content p {
  font-size: 16px;
  line-height: 1.5;
}

.content__more {
  padding: 56px 14px 0px 14px;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-height: 45px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-black);
  border: 1.5px solid var(--color-black);
  border-radius: 12px;
  cursor: pointer;
  padding: 15px;
}

.more span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-black);
  overflow: hidden;
}

.category__wrap {
  display: flex;
  flex-direction: column;
  padding: 14px 15px 36px 15px;
}

.category__wrap > p {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.8;
  margin-bottom: 8px;
}
