@import url('./normalize.css');
@import url('./colors.css');

/* font */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@400;700&display=swap');

* {
  font-family: 'Pretendard', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  min-width: 280px;
  max-width: 540px;
  margin: 0 auto;
}

p {
  margin: 0;
}
