@import url('styles/common/normalize.css');
@import url('styles/common/colors.css');
@import url('styles/common/font.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  min-width: 280px;
  max-width: 540px;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  display: none;
}

figure {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: var(--color-black);
}

a {
  text-decoration: none;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}
